# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# turbo
.turbo

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*.local

# typescript
*.tsbuildinfo

# playwright
/test-results/
/playwright-report/

# throwaway screenshot helper
shot.mjs
